body {
  font-family: sans-serif;
}

#doSomething {
  margin: 25px auto;
  display: block;
}

#circle {
  height: 150px;
  width: 150px;
  background-color: black;
  border-radius: 50%;
  margin: 25px auto;
  transition: background 500ms;
  position: absolute;
}

.mario {
	background-image: url("https://upload.wikimedia.org/wikipedia/en/9/99/MarioSMBW.png")
}